/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&display=swap");
html {
  font-size: 100%;
} /*16px*/

:root {
  --clr-primary-1: #012a14;
  --clr-primary-2: #027e3c;
  --clr-primary-3: #03d264;
  --clr-primary-4: #2dfc8e;
  --clr-primary-5: #81fdbb;
  --clr-primary-6: #d5fee8;

  --clr-secondary-1: #181213;
  --clr-secondary-2: #795c5f;
  --clr-secondary-3: #795c5f;
  --clr-secondary-4: #a38689;
  --clr-secondary-5: #c8b7b8;
  --clr-secondary-6: #ede7e7;

  --clr-gray-light: #b3b9b6;
  --clr-gray-dark: #454746;

  --clr-white: #fff;
  --clr-black: #222;

  /* fonts  */
  --headingFont: "Roboto", sans-serif;
  --bodyFont: "Nunito", sans-serif;
  --smallText: 0.7em;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;

  /* rest of the vars */
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* vertical-align: baseline; */
}
html {
  font-family: system-ui, sans-serif;
}
body {
  position: relative;
  background: var(--clr-secondary-4);
  display: grid;
  grid-template-columns: 1fr;
  /* height: 100vh;
  width: 100vw; */
  font-family: var(--ff-primary);
}

main {
  position: relative;
  height: calc(100vh - 3.25rem);
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
.dice {
  display: block;
  margin: 0 auto;
  height: 12.5rem;
}

button {
  align-self: center;
  background: var(--clr-primary-4);
  border: none;
  color: var(--clr-primary-1);
  font-size: 1.25rem;
  font-weight: 700;
  justify-self: center;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  margin-bottom: 1rem;
  border-radius: var(--radius);
}
button:hover {
  background: var(--clr-primary-1);
  color: var(--clr-primary-4);
  cursor: pointer;
}
.btn {
  width: 200px;
}
.btn-container {
  display: block;
  margin-top: 0.75rem;
}
.btn-container-reset {
  margin-top: -0.25rem;
}
.nav {
  height: 2rem;
  /* width: 100vw; */
  padding: 1rem;
  padding-bottom: 1.5rem;
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background: var(--clr-primary-1);
  align-items: center;
}
.nav-center {
  width: 100%;
  /* max-width: 1170px; */
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
  align-items: center;
  margin-top: -0.75rem;
}

.heading {
  color: var(--clr-secondary-1);
  margin: 0.5rem 0;
  /* margin-bottom: 1.5rem; */
  /* margin-top: 1.5rem; */
}
.pose {
  margin-bottom: 0.5rem;
}
.img {
  height: 12.5rem;
  width: 12.5rem;
  margin-bottom: 0.5rem;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius);
}

.container {
  width: 100vw;
  margin: 0 auto;
  /* margin-bottom: 1.5rem; */
  text-align: center;
  position: relative;
}

.countdowntimer {
  color: var(--clr-white);
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
  color: var(--clr-primary-3);
  text-align: center;
  align-items: center;
}

.span-1 {
  color: var(--clr-white);
}

.pose {
  text-align: center;
  /* margin-bottom: 1rem;
  margin-top: 1.5rem; */
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--clr-white);
  text-shadow: var(--shadow-2);
}

/*
=============== 
Footer
===============
*/
.footer {
  top: 2.5rem;
  height: 25px;
  background: var(--clr-primary-1);
  display: block;
  text-align: center;
  align-items: center;
}

.footer p {
  font-size: 0.75rem;
  color: var(--clr-white);
  
}
